[submodule "backend"]
	path = backend
	url = git@github.com:Codin-h/backend.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:Codin-h/frontend.git
[submodule "tests"]
	path = tests
	url = git@github.com:Codin-h/tests.git
